services:
  # Servidor Backend (Node.js + Express + WebSockets)
  backend:
    build: ./backend
    container_name: backend_server
    ports:
      - "3000:3000"
    environment:
      # Ligação ao serviço "mongodb" em vez de "localhost"
      - MONGODB_URI=mongodb://mongodb:27017/streaming_chat
      - REDIS_HOST=redis
      - JWT_SECRET=chave_secreta_super_segura
      - PORT=3000
    depends_on:
      - mongodb
      - redis

  # Infraestrutura NoSQL (Principal)
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  # Infraestrutura de Cache (Ponto Extra: Múltiplas BDs)
  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"

volumes:
  mongodb_data:
